* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0px 20px 100px 40px;
  display: flex;
  flex-flow: column wrap;
  width: 80%;
}

p {
  color: white;
  background-color: black;
}

h1{
  width: fit-content;
  font-size: 4vw;
}

h2 {
  color: blue;
  font-family: consolas;
  background-color: rgb(218, 247, 218);
}

p,
h2 {
  width: fit-content;
  padding: 10px 30px;
  border-radius: 5px;
  border: lightgrey solid 1px;
  font-size: 2vw;
}

span {
  color: black;
  font-family: monospace;
}

button,
input {
  cursor: pointer;
  margin: 15px 15px 0px 15px;
  font-size: 2vw;
  padding: 10px 35px 10px 35px;
  box-shadow: 8px 8px 2px 1px whitesmoke;
}

.link {
  cursor: pointer;
}

#menu {
  font-size: 2vw;
}

h1, #menu, #link, #today, #gitHub {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}
