* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0px 50px 100px 50px;
}

p {
  color: white;
  background-color: black;
}

h2 {
  color: blue;
  font-family: consolas;
  background-color: rgb(218, 247, 218);
}

p,
h2 {
  width: fit-content;
  padding: 10px 30px;
  border-radius: 5px;
  border: lightgrey solid 1px;
  font-size: 26px;
}

span {
  color: black;
  font-family: monospace;
}

button,
input {
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18pt;
  padding: 10px 35px 10px 35px;
  box-shadow: 8px 8px 2px 1px whitesmoke;
}

.link {
  cursor: pointer;
}

#menu, #link, #today, #gitHub {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}
