body {
  margin: 0px 20px 100px 10px;
  display: flex;
  flex-flow: column wrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

p {
  color: white;
  background-color: black;
}

h1{
  width: fit-content;
}

h2 {
  color: rgb(65, 100, 65);
  font-family: consolas;
  background-color: rgb(218, 247, 218);
}

p,
h2 {
  display: flex;
  flex-flow: column nowrap;
  width: 100vmin;
  padding: 10px 10px;
  border-radius: 5px;
  border: lightgrey solid 1px;
  font-size: 12pt;
}

span {
  color: black;
  font-family: monospace;
}

button,
input {
  cursor: pointer;
  margin: 15px 15px 0px 15px;
  font-size: 12pt;
  padding: 10px 20px 10px 20px;
  box-shadow: 8px 8px 2px 1px whitesmoke;
}

.link {
  cursor: pointer;
  width: fit-content;
}

h1, #menu, #link, #today, #gitHub {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

#list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}